langchain
langchain_community
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv
ipykernel
pydantic
langchain-core
langchain-community
pydf
pymupdf
sentence-transformers
faiss-cpu
chromadb
numpy
scikit-learn
uuid